body {
    width: 100%;
    font-family: serif;
}



.header{
    background-color: rgb(5, 255, 17);
    height: 90px;
}

.header-logo {
    float: left;
    padding: 20px 40px;
    font-size:25px;
}

li {
    list-style: none;
    float: right;
    padding: 33px 40px;
}

.main {    
    height: auto;
    width: 100%;
    background-color: antiquewhite;
}

.footer {
    background-color: blueviolet;
    height: 150px; 
}

img.himawari {
    width:50%;
}

img.190729 {
    width:50%;
}